global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private


defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http


frontend my_local
    	bind *:80
  	mode http

	acl fb url_beg -i /fb
	acl google url_beg -i /gl
	acl cisco url_beg -i /cisco
	acl test hdr(host) -i test.5a.lab.int

	use_backend fb_backend          if    fb    !test
	use_backend google_backend if google
	use_backend cisco_backend if cisco
	use_backend ukr_net_backend if fb test

frontend www-servers
	bind *:8080
	mode http
	use_backend apache2

backend fb_backend
	balance roundrobin
	server fbserv www.facebook.com
	
backend google_backend
	balance roundrobin
	server googleserv www.google.com

backend cisco_backend
	balance roundrobin
	server googleserv www.cisco.com

backend ukr_net_backend
	balance roundrobin
	server ukrserv ukr.net

backend apache2
	balance roundrobin
	server web1 10.0.0.50:8000
        server web2 10.0.0.240:80

listen stats
        bind *:9000
        mode http
        stats enable
        stats auth user:user
        stats uri /
        stats realm Haproxy\ Statistics
        stats show-legends
        stats show-desc 'MASTER HAProxy-1'
        stats show-node
        stats show-legends
        stats admin if TRUE

